main * {
     font-family: sans-serif;
}

body {
    background-image: url(/Images/background.jpg);
    background-position: center top;
    background-size: cover;
    background-repeat: no-repeat;
}

h1 {
    color: blueviolet;
    font-style: italic;
    font-size: 100px;
    position: relative;
    bottom: 0px;
    text-shadow: -2px 0 black, 0 2px black, 2px 0 black, 0 -2px black;;
    text-align: center;
    
}


#loginSpace{
    position: relative;
    text-align: center;
    margin-top: 100px;
    margin-left: 700px;
    margin-right: 700px;
    border: 3px solid rgb(235, 235, 235);
    border-radius: 100px;
    background-color: grey;
    padding: 16px;
}

button:hover {
    opacity: 0.5;
}

input{
    
}
